#create-menu {
    width: 70px;
    height: 25px;
    color: black;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px rgb(175, 198, 241) solid;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

#create-menu:hover {
    background-color: rgb(175, 174, 174);
    cursor: pointer;
}

#file-menu {
    width: 70px;
    height: 50px;
    background-color: rgb(255, 254, 254);
    color: black;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px rgb(175, 198, 241) solid;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

#file-menu div:hover {
    background-color: rgb(175, 174, 174);
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul li {
    width: 200px;
    height: 50px;
    color: black;
    list-style-type: none;
    font-size: larger;
    font-weight: bold;
    margin: 25px;
    border: 2px rgb(175, 198, 241) solid;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(175, 198, 241);
    text-align: center;
    padding: 25px 30px 0 30px;
}

#delete-selected-menu {
    position: absolute;
    background-color: rgb(255, 254, 254);
    color: black;
    visibility: hidden;
    border: 1px rgb(175, 198, 241) solid;
    border-radius: 5px;
    font-size: 20px;
}

#delete-selected-menu:hover {
    background-color: rgb(175, 174, 174);
    cursor: pointer;
}

#selected-menu-rectangle {
    position: absolute;
    visibility: hidden;
    background-color: rgb(205, 219, 245);
    border: 1px rgb(175, 198, 241) solid;
}